*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: system-ui;
    background-image: url('/imgs/bg_light.svg');
    background-size: 50px;
}

#app {
    height: 100vh;
    padding-top: 1rem;
    display: grid;
    justify-items: center;
}

main {
    max-width: 674px;
    width: 100%;
}

h1 {
    color: black;
    text-align: center;
}

.m-1 { margin: .5rem; }

.current {
    display: grid;
    width: 16rem;
    height: 2rem;
    border-radius: 4px;
    border: 1px solid;
    place-items: center;
    color: white;
    text-transform: uppercase;
}

.white { background-color: snow; }
.tie {
    background-color: #70adbd;
    border-color: #8192a5;
}
.blue {
    background-color: #4169E1;
    border-color: #1a1a70;
    color: white;
}
.red {
    background-color: #DC143C;
    border-color: #530c0c;
    color: white;
}
.green {
    background-color: #289d4f;
    border-color: #135313;
    color: white;
}
.yellow {
    background-color: #FFD700;
    border-color: #5d5d14;
    color: black;
}

svg {
    background-color: #e7eff8;
    border: 1px solid lightsteelblue;
    border-radius: 4rem;
}

.rules {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    padding-bottom: 1rem;
    margin: 0 .5rem;
}

.rules svg {
    border-radius: 1rem;
    padding: .5rem;
    stroke-width: 8;
}

.pointer { cursor: pointer; }
.lighten:hover { filter: brightness(110%); }
.darken:hover { filter: brightness(95%); }

/* SVG */

.shadow {
    fill: #00000070;
    stroke-width: 0;
}

svg .white {
    fill: snow;
}
svg .tie {
    fill: #70adbd;
    stroke: #8192a5;
}
svg .blue {
    fill: #4169E1;
    stroke: #1a1a70;
}
svg .red {
    fill: #DC143C;
    stroke: #530c0c;
}
svg .green {
    fill: #289d4f;
    stroke: #135313;
}
svg .yellow {
    fill: #FFD700;
    stroke: #5d5d14;
}


/* Bar - flex */

.flex {
    display: flex;
    place-items: center;
    gap: 1rem;
    margin: .5rem;
    user-select: none;
}
.expand { flex: 1; }
.icon { font-size: 2rem; }

@media screen and (max-width: 500px) {
    .flex .revelry {
        display: none;
    }
}
