*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: system-ui;
    background-color: #e7eff8;
}

#app {
    height: 100vh;
    padding-top: 1rem;
    display: grid;
    justify-items: center;
    align-content: start;
}

main {
    max-width: 62rem;
    width: 100%;
    display: grid;
    grid-auto-rows: min-content;
}

h1 {
    color: black;
    text-align: center;
}

button {
    font-size: 1rem;
}

.d4 {
    width: 100%;
    justify-content: center;
}

.d5 {
    max-height: 85vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
    margin: .5rem;
    user-select: none;

    & {
        aspect-ratio: 1 / 1;
    }
}

.grid { display: grid; }

.m-1 { margin: .5rem; }

.current {
    display: grid;
    width: 16rem;
    height: 2rem;
    border-radius: 4px;
    border: 1px solid;
    place-items: center;
    color: white;
    text-transform: uppercase;
}

.white { background-color: snow; }
.tie {
    background-color: #70adbd;
    border-color: #8192a5;
}
.blue {
    background-color: #4169E1;
    border-color: #1a1a70;
    color: white;
}
.red {
    background-color: #DC143C;
    border-color: #530c0c;
    color: white;
}
.green {
    background-color: #289d4f;
    border-color: #135313;
    color: white;
}
.yellow {
    background-color: #FFD700;
    border-color: #5d5d14;
    color: black;
}
/* Colorblind colors */
.colorblind {
    .green {
        background-color: #28aba4;
        border-color: #195c59;
        color: white;
    }
}

svg.board {
    max-height: 85vh;
    justify-self: center;
}

.rules {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    padding-bottom: 1rem;
}

.rules-d4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.container {
    border: 1px solid lightsteelblue;
    border-radius: 1rem;
    padding: .5rem;

    svg {
        stroke-width: 8;
    }
}

.pointer { cursor: pointer; }
.lighten:hover { filter: brightness(110%); }
.darken:hover { filter: brightness(95%); }

/* SVG */

.shadow {
    fill: #00000070;
    stroke-width: 0;
}

svg .white {
    fill: snow;
}
svg .tie {
    fill: #70adbd;
    stroke: #8192a5;
}
svg .blue {
    fill: #4169E1;
    stroke: #1a1a70;
}
svg .blue-0 {
    fill: #B8C7F4;
    stroke: #1a1a70;
}
svg .blue-1 {
    fill: #839EEC;
    stroke: #1a1a70;
}
svg .blue-2 {
    fill: #1C41B0;
    stroke: #1a1a70;
}
svg .red {
    fill: #DC143C;
    stroke: #530c0c;
}
svg .green {
    fill: #289d4f;
    stroke: #135313;
}
svg .yellow {
    fill: #FFD700;
    stroke: #5d5d14;
}
/* Colorblind colors */
.colorblind {
    svg .green {
        fill: #28aba4;
        stroke: #195c59;
    }
}


/* Bar - flex */

.flex {
    display: flex;
    place-items: center;
    gap: 1rem;
    margin: .5rem;
    user-select: none;
}
.expand { flex: 1; }
.icon { font-size: 2rem; }
.icon-sm { font-size: 1.5rem; }

@media screen and (max-width: 500px) {
    .flex .revelry {
        display: none;
    }
}

/* Settings table */

table.settings {
    width: 100%;
    border-collapse: collapse;
    margin: 2rem 0;
    border-top: 1px solid lightsteelblue;
    border-bottom: 1px solid lightsteelblue;
}

table.settings td {
    padding: 1rem 0;
}

table.settings tr:not(:last-child) {
    border-bottom: 1px solid lightsteelblue;
}

table.settings tr td:first-child {
    width: 65%;
}

table.settings tr td:last-child {
    width: 35%;
    user-select: none;
}
